body
{
    background-color: #f0f0f0;
    color: #303030;
    font: normal 10pt "Helvetica", "Arial", sans-serif;
    margin: 0;
}

div#header
{
    background-color: #404040;
    color: #ffffff;
    padding: .5em 1em;
    text-shadow: 0 1px 0 #000000;
}

div#header h1
{
    color: inherit;
    font: normal 12pt "Times New Roman", serif;
    margin: 0;
}

div#form
{
    float: right;
    margin-right: 20%;
    width: 60%;
}

div#form table
{
    background-color: #ffffff;
    border-collapse: collapse;
    border-radius: 0 0 1em 1em;
    margin: 0 1em;
    width: 100%;
}

div#form table td, div#form table th
{
    padding: 1em;
    vertical-align: top;
}

div#form table th
{
    border-right: 1px solid #d0d0d0;
    text-align: right;
    width: 20%;
}

div#form table tr
{
    border-bottom: 1px solid #d0d0d0;
}

div#form table tr:last-child
{
    border-bottom: none;
}

ul#forms
{
    background-color: #f8f8f8;
    border-bottom-right-radius: 1em;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20%;
}

ul#forms > li
{
    font-weight: bold;
    margin: 1em;
}

ul#forms > li span.date
{
    font-size: 80%;
    font-style: italic;
}

ul#forms > li a
{
    color: inherit;
    text-decoration: none;
}

ul#forms > li ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#forms > li ul li
{
    font-weight: normal;
    margin: 1em;
}